    * {
         font-family: "omega";
      }


      @font-face {
        font-family: "omega";
        src: url("../font/omega.ttf");
      }

      p {
        font-family: "omega";
		font-size: 1.2rem;
      }

      h1 {
		font-family: "omega";
        font-size: 5rem;
        font-weight: 600;
        padding: 2rem;
        text-shadow: #000000;
      }

      h2 {
        font-family: "omega";
        font-size: 3rem;
        font-weight: 600;
      }

      h3 {
        font-family: "omega";
        font-size: 2.6rem;
        font-weight: 500;
      }

      h4 {
        font-family: "omega";
        font-size: 2rem;
        font-weight: 400;
		
      }
.navbar{
background: linear-gradient(360deg, rgba(0, 0, 0, 25%) 20%, rgba(0, 0, 0, 555)),
          url(../images/pic1.jpg);
		 
}
  .nav-link{
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  text-shadow: #000000;
  }
  .navbar-brand{
   font-size: 2rem;
   font-weight: 600;
     letter-spacing: 3px;
	 

  }

      #s1 {
        top: 0px;
        height: 900px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 8)),
          url(../images/pic1.jpg)fixed;
      }

      #s3 {
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)),
          url('../images/pic2.jpg');
      }
	  
	       #s4 {
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)),
          url('../images/pic3.jpg');
      }
	  
	  	       #s5 {
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)),
          url('../images/pic3.jpg');
      }
	  
	  .img-cover{
	  width:200px;
	  height: 200px;
	  
	  }
	  
	  .card-img-top{
	  	 object-fit:cover;
	  height: 250px;
	  -webkit-filter: brightness(50%);
}

.card-img-top:hover{

    -webkit-filter: brightness(90%);
	-moz-filter: brightness(90%);
	-o-filter: brightness(90%);
	-ms-filter: brightness(90%);
	filter: brightness(90%);
}
.card-img-top:hover {
       
		transition: 0.2s all ease-in-out;
      }
	  
@media only screen and (max-width: 900px) {
  h1, h2, h3, h4 {
    font-size: 1.8rem;
  }
  p{
    font-size: 1rem;
  }

}